svg {
    width: 400px;
    
}
.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-attachment: fixed;
}
.h1-3{
    color: aliceblue;
    text-align: center;
}

.image1{
    margin-left: 25%;
    padding-left: 20%;
}