.color-1{
    color: aliceblue;
    font-size: 250%;
}
.tb-bor1{
    border-color: white;
    border: 1px solid;
}

.b-list1{
    color: aliceblue;
    font-size: 150%;
}
.table-div{
    color:aliceblue;
    border-color: white;
    border: 1px solid;
}