.fsize{
    font-weight: bold;
    color: aliceblue;
    font-size:150%;
}
form{
    border: 2px;
    border-color:white;
    border-style: solid;
    height: 300px;
  width: 30%;
  margin-left: 35%; 
}
.color-3{
    color: aliceblue;
    font-size: 250%;
}
.bold{
    color: aliceblue;
    font-size: 150%;
}
